:root {
    --dark-bg: #393737;
    --dark-bg-light: #666666;
    --dark-hl: #f3e6e6;
}

* {
    background-color: var(--dark-bg);
    color: var(--dark-hl);
}

select, textarea, button {
    background-color: var(--dark-bg-light);
}

textarea::placeholder {
    color: #afafaf;
}

#decklist-input {
    border-radius: 5px;
    width: 50%;
    height: 30vh;
    margin: auto;
    margin-bottom: 1vh;
    margin-top: 1vh;
}

#app {
    display: flex;
    flex-direction: row;
}

#input-container, #analysis-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    margin: auto;
}

#decklist-display {
    margin: auto;
    margin-bottom: 1vh;
    margin-top: 1vh;
    border: 1px solid var(--dark-hl);
    border-radius: 5px;
    width: 50%;
    height: 30vh;
    overflow-y: scroll;
    padding: 1vh;
}

#decklists {
    max-width: 30vw;
    max-height: 10vh;
    margin: auto;
    margin-top: 0;
    flex: auto;
}

#editor {
    margin-top: 1vh;
    display: flex;
    flex-flow: column;
}

#decklist-controls {
    display: flex;
    flex-flow: row;
}

#clear-decklist {
    margin-left: auto;
}

#submit-decklist {
    margin-right: 25%;
}

button {
    border-radius: 5px;
    max-width: 15vw;
    min-width: 10%;
}