:root {
    --dark-bg: #393737;
    --dark-bg-light: #666666;
    --dark-hl: #f3e6e6;
    --dark-placeholder: #afafaf;
    --dark-border: #929292;
}

* {
    background-color: var(--dark-bg);
    color: var(--dark-hl);
}

select, textarea, button {
    background-color: var(--dark-bg-light);
}

button {
    border-radius: 5px;
    max-width: 15vw;
    min-width: 10%;
}

textarea::placeholder {
    color: var(--dark-placeholder);
}

#decklists-pane {
    border: 1px solid var(--dark-border);
    border-radius: 5px;
    min-width: 10vw;
    display: flex;
    flex-flow: column;
}

#decklist-input {
    border-radius: 5px;
    width: 50%;
    height: 30vh;
    margin-right: auto;
}

#app {
    display: flex;
    flex-direction: column;
    padding-top: 5vh;
    padding-left: 1vw;
    margin-right: auto;
}

#panes-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 1vh;
}

#controls-container {
    display: flex;
    flex-direction: row;
    margin: auto;
}

#controls-container > button {
    margin-right: auto;
    margin-left: 10px;
}

#pane-title {
    margin: auto;
    margin-top: 2px;
    margin-bottom: 0;
}

table {
    padding-top: 1vh;
}

td {
    margin: auto;
}

tr {
    display: flex;
}


#create-new {
    min-width: 5vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vh;
    margin-bottom: 0;
}

    